<!DOCTYPE>
    <html lang="es-ES">
    <head>
    <!-- METAS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="@Sergio_Gordillo" />
    <meta name="yandex-verification" content="51e033a21594deae" />
    <meta name="theme-color" content="#ff9c70">
    <!-- MICRODATA RRSS -->
    <!-- GOOGLE + -->
    <link rel="publisher" href=""  />
    <!-- FACEBOOK -->
    <meta property="og:title" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <!-- ./MICRODATA RRSS -->
    <!-- ============================================================================================= -->
    <!-- Foody -->
    <!-- ============================================================================================= -->
    <!-- Author: @Sergio_Gordillo -->
    <!-- Date: 01/07/2015 -->
    <!-- Version: 2.000 -->
    <!-- ============================================================================================= -->
    <title>Foody</title>
    <!-- CANONICAL -->
    <link rel="canonical" href="" />
    <base href="/templates/foody/" target="_blank">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu|Pacifico' rel='stylesheet' type='text/css'>
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="assets/css/foody.css" rel="stylesheet">

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KT6JC3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT6JC3');</script>
    <!-- End Google Tag Manager -->

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><i style="color:#1D9E74;" class="fa fa-leaf"></i>&nbsp;Foody</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav pull-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sweet">Sweet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#salty">Salty</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bitter">Bitter</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sour">Sour</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section full section-color-light">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 wow fadeInDown">
                        <h1>live life with a little spice</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
                        <a class="page-scroll btn btn-lg btn-primary" href="#sweet">Try it!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sweet Section -->
    <section id="sweet" class="sweet-section full section-color-light">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><span class="primary-color">Sweet </span>Section</h1>
                    </div>
                </div>
                <div class="grid">
                    <div class="row">
                        <div class="col-md-4">
                            <h2><i class="secondary-color fa fa-cab"></i>&nbsp;Lorem ipsum dolor sit amet</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <!--<div class="col-lg-4">
                            <h2><i class="secondary-color fa fa-rocket"></i>&nbsp;Consectetur adipiscing elit, sed do eiusmod</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>-->
                        <div class="col-md-4 col-md-offset-4">
                            <h2><i class="secondary-color fa fa-plane"></i>&nbsp;Labore et dolore magna aliqua.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h2><i class="secondary-color fa fa-truck"></i>&nbsp;Lorem ipsum dolor sit amet</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <!--<div class="col-lg-4">
                            <h2><i class="secondary-color fa fa-bus"></i>&nbsp;Consectetur adipiscing elit, sed do eiusmod</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>-->
                        <div class="col-md-4 col-md-offset-4">
                            <h2><i class="secondary-color fa fa-car"></i>&nbsp;Labore et dolore magna aliqua.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Salty Section -->
    <section id="salty" class="salty-section full section-color-light">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><span class="primary-color">Salty </span>Section</h1>
                    </div>
                </div>
                <div class="gallery">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" class="thumbnail">
                                <img src="assets/img/raspberries.jpg" alt="">
                            </a>
                            <h3 class="secondary-color">Raspberries</h3>
                            <h4>Nullam ac rhoncus sapien, non gravida purus. Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies</h4>
                        </div>
                        <div class="col-md-4">
                            <a href="javascript:void(0);" class="thumbnail">
                                <img src="assets/img/strawberries.jpg" alt="">
                            </a>
                            <h3 class="secondary-color">Strawberries</h3>
                            <h4>Nullam ac rhoncus sapien, non gravida purus. Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies</h4>
                        </div>
                        <div class="col-md-4">
                            <a href="javascript:void(0);" class="thumbnail">
                                <img src="assets/img/cherries.jpg" alt="">
                            </a>
                            <h3 class="secondary-color">Cherries</h3>
                            <h4>Nullam ac rhoncus sapien, non gravida purus. Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bitter Section -->
    <section id="bitter" class="bitter-section full section-color-light">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><span class="primary-color">Bitter </span>Section</h1>
                    </div>
                </div>
                <div class="tabs">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#totam" aria-controls="totam" role="tab" data-toggle="tab"><i class="fa fa-2x fa-tree"></i>Totam</a></li>
                                <li role="presentation"><a href="#gravida" aria-controls="gravida" role="tab" data-toggle="tab"><i class="fa fa-2x fa-ticket"></i>Gravida</a></li>
                                <li role="presentation"><a href="#aliquam" aria-controls="aliquam" role="tab" data-toggle="tab"><i class="fa fa-2x fa-star"></i>Aliquam</a></li>
                                <li role="presentation"><a href="#integer" aria-controls="integer" role="tab" data-toggle="tab"><i class="fa fa-2x fa-tags"></i>Integer</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Tab 1 -->
                                <div role="tabpanel" class="tab-pane fade in active" id="totam">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 hidden-xs">
                                            <i style="font-size:15em;" class="secondary-color fa fa-4x fa-tree"></i>
                                        </div>
                                        <div class="col-sm-8 col-md-9">
                                            <h2>Totam</h2>
                                            <h3>Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab 2 -->
                                <div role="tabpanel" class="tab-pane fade" id="gravida">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 hidden-xs">
                                            <i style="font-size:15em;" class="secondary-color fa fa-4x fa-ticket"></i>
                                        </div>
                                        <div class="col-md-8 col-md-9">
                                            <h2>Gravida</h2>
                                            <h3>Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab 3 -->
                                <div role="tabpanel" class="tab-pane fade" id="aliquam">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 hidden-xs">
                                            <i style="font-size:15em;" class="secondary-color fa fa-4x fa-star"></i>
                                        </div>
                                        <div class="col-md-8 col-md-9">
                                            <h2>Aliquam</h2>
                                            <h3>Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab 4 -->
                                <div role="tabpanel" class="tab-pane fade" id="integer">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 hidden-xs">
                                            <i style="font-size:15em;" class="secondary-color fa fa-4x fa-tags"></i>
                                        </div>
                                        <div class="col-md-8 col-md-9">
                                            <h2>Integer</h2>
                                            <h3>Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sour Section -->
    <section id="sour" class="sour-section full section-color-light">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><span class="primary-color">Sour </span>Section</h1>
                    </div>
                </div>
                <div class="contact">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                            <!-- Contact form -->
                            <form role="form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- Email -->
                                        <div class="form-group">
                                            <label for="email" class="sr-only">Your email address</label>
                                            <input type="email" name="email" class="form-control" id="email" placeholder="Email Adress">
                                            <span class="help-block"></span>
                                        </div>
                                        <!-- Name -->
                                        <div class="form-group">
                                            <label for="name" class="sr-only">Your full name</label>
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Full Name">
                                            <span class="help-block"></span>
                                        </div>
                                        <!-- Phone -->
                                        <div class="form-group">
                                            <label for="phone" class="sr-only">Your phone number</label>
                                            <input type="tel" name="phone" class="form-control" placeholder="Phone Number">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- Message -->
                                        <div class="form-group">
                                            <label for="message" class="sr-only">Your message</label>
                                            <textarea name="message" class="form-control" rows="11" id="message" placeholder="Message"></textarea>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-lg btn-primary">
                                    <span class="oi oi-arrow-right" title="Send it" aria-hidden="true"></span>
                                    <span>Send message</span>
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="about">
                    <div class="row">
                        <div class="col-lg-12">
                        <ul class="list-inline">
                                <li>
                                <img style="border: none;height: 30px;vertical-align: middle;width: 30px;-webkit-border-radius: 50%;border-radius: 50%;" src="assets/img/profile.png"><span>&nbsp;John Doe</span>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a target="_blank" href=""><i class="fa fa-2x fa-linkedin"></i></a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a target="_blank" href=""><i class="fa fa-2x fa-twitter"></i></a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a target="_blank" href=""><i class="fa fa-2x fa-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script>
        new WOW().init();
        var isiPad = navigator.userAgent.match(/iPad/i) != null;
        if(isiPad)
            $(".full").css('background-attachment', 'inherit');
    </script>


</body>
</html>
