<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="@Sergio_Gordillo">
  <title>archelogos · Sergio Gordillo · Templates · Futurial</title>

  <base href="/templates/futurial/" target="_blank">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KT6JC3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT6JC3');</script>
    <!-- End Google Tag Manager -->

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Futurial</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <hr class="featurette-divider">


        <!-- Feature 1 -->
        <div class="featurette">
          <div class="row">
            <div class="col-sm-6">
              <a href="preview/index.html"><img class="featurette-image img-responsive" src="img/original.jpg"></a>
            </div>
            <div class="col-sm-6">
              <h2 class="featurette-heading">Futurial
                  <span class="text-muted">ORIGINAL</span>
              </h2>
              <p class="lead">Futurial adapta lo mejor del Material Design al concepto de Landing "One" Page aprovechando lo mejor de cada mundo. Concepto inicial en mobile y adaptado a cualquier dispositivo. Tiene todo lo que esperas!</p>
              <a class="btn btn-primary" href="preview/index.html">View Project</a>
              <a data-gtm-click="true" data-gtm-cat="001" data-gtm-action="Download" data-gtm-label="Futurial" class="btn btn-default" href="/templates/downloads/futurial.zip">Download FREE</a>
              <a data-gtm-linkclick="true" data-gtm-cat="001" data-gtm-action="github" data-gtm-label="Futurial" class="btn btn-default" target="_blank" href="https://github.com/archelogos/futurial">View on Github</a>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- Feature 2 -->
        <div class="featurette">
          <div class="row">
            <div class="col-sm-6">
              <a href="preview/index-simple.html"><img class="featurette-image img-responsive" src="img/simple.jpg"></a>
            </div>
            <div class="col-sm-6">
              <h2 class="featurette-heading">Futurial
                  <span class="text-muted">SIMPLE</span>
              </h2>
              <p class="lead">Esta variante permite mostrar tus mejores imágenes en todo el ancho de la pantalla. Aprovéchalo y deja impactados a tus usuarios tanto en mobile como en desktop!</p>
              <a class="btn btn-primary" href="preview/index-simple.html">View Project</a>
              <a data-gtm-click="true" data-gtm-cat="001" data-gtm-action="Download" data-gtm-label="Futurial" class="btn btn-default" href="/templates/downloads/futurial.zip">Download FREE</a>
              <a data-gtm-linkclick="true" data-gtm-cat="001" data-gtm-action="github" data-gtm-label="Futurial" class="btn btn-default" target="_blank" href="https://github.com/archelogos/futurial">View on Github</a>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- Feature 3 -->
        <div class="featurette">
          <div class="row">
            <div class="col-sm-6">
              <a href="preview/index-color.html"><img class="featurette-image img-responsive" src="img/color.jpg"></a>
            </div>
            <div class="col-sm-6">
              <h2 class="featurette-heading">Futurial
                  <span class="text-muted">COLORS</span>
              </h2>
              <p class="lead">Nos encantan los colores! Todos los tonos definidos en Material Design están disponibles. Sólo tienes que elegir los que más te gusten!!</p>
              <a class="btn btn-primary" href="preview/index-color.html">View Project</a>
              <a data-gtm-click="true" data-gtm-cat="001" data-gtm-action="Download" data-gtm-label="Futurial" class="btn btn-default" href="/templates/downloads/futurial.zip">Download FREE</a>
              <a data-gtm-linkclick="true" data-gtm-cat="001" data-gtm-action="github" data-gtm-label="Futurial" class="btn btn-default" target="_blank" href="https://github.com/archelogos/futurial">View on Github</a>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- Feature 4 -->
        <div class="featurette">
          <div class="row">
            <div class="col-sm-6">
              <a href="preview/index-lead.html"><img class="featurette-image img-responsive" src="img/lead.jpg"></a>
            </div>
            <div class="col-sm-6">
              <h2 class="featurette-heading">Futurial
                  <span class="text-muted">LEAD_GENERATION</span>
              </h2>
              <p class="lead">La conversión es lo primero?? Utiliza este template, los beneficios estarán en primer lugar y por supuesto un formulario para no dejar escapar ninguna oportunidad!</p>
              <a class="btn btn-primary" href="preview/index-lead.html">View Project</a>
              <a data-gtm-click="true" data-gtm-cat="001" data-gtm-action="Download" data-gtm-label="Futurial" class="btn btn-default" href="/templates/downloads/futurial.zip">Download FREE</a>
              <a data-gtm-linkclick="true" data-gtm-cat="001" data-gtm-action="github" data-gtm-label="Futurial" class="btn btn-default" target="_blank" href="https://github.com/archelogos/futurial">View on Github</a>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- Feature 5 -->
        <div class="featurette">
          <div class="row">
            <div class="col-sm-6">
              <a href="preview/index-video.html"><img class="featurette-image img-responsive" src="img/video.jpg"></a>
            </div>
            <div class="col-sm-6">
              <h2 class="featurette-heading">Futurial
                  <span class="text-muted">VIDEO</span>
              </h2>
              <p class="lead">Si lo tuyo son los vídeos, elige tu mejor plano y ponlo de background. Además se redimensiona a toda la pantalla, sólo tienes que probarlo. ADELANTE!!</p>
              <a class="btn btn-primary" href="preview/index-video.html">View Project</a>
              <a data-gtm-click="true" data-gtm-cat="001" data-gtm-action="Download" data-gtm-label="Futurial" class="btn btn-default" href="/templates/downloads/futurial.zip">Download FREE</a>
              <a data-gtm-linkclick="true" data-gtm-cat="001" data-gtm-action="github" data-gtm-label="Futurial" class="btn btn-default" target="_blank" href="https://github.com/archelogos/futurial">View on Github</a>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><a href="http://archelogos.me" style="color:white;">archelogos.me</a></p>
            </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
